.splash
  .container
    .row-fluid
      .span8.
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner carouselImages">

            <div class="item">
              <img src="/images/kitchen.jpg" alt="">
              <div class="carousel-caption">
                <h4>Hostel Corcovado in the magical Rainforest</h4>
                <p></p>
              </div>
            </div>

          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
        </div>
        
      .span4
          
        .callout.pull-right.btn.btn-success
          span.badge.badge-warning.pull-left $20
          span.roomType Shared Rooms </br><small> per person</small>
      
        .callout.pull-right.btn.btn-success
          span.badge.badge-warning.pull-left $30
          span.roomType Private Cabina </br><small> per person</small>

        .callout.pull-right.btn.btn-success
          span.badge.badge-warning.pull-left $70
          span.roomType Private Rooms </br><small> double occupacy</small>
        
        .callout.pull-right.btn.btn-success
          span.badge.badge-warning.pull-left $120
          span.roomType Suite with A/C & Hot Water </br><small> 2 Queen beds</small>

        .pull-right
          .discount.label.label-warning 20% discount when your stay 3+ nights
        

.alert.alert-success(style="margin-bottom: 0px")
  .container
    h2 Osa Peninsula protects 3% of all the World's Biodiversity
    h4 It's Amazing to see how hundreds of living things depend on each other to survive

  
.info
  .container
    .row-fluid
      .span4
        h2 Wildlife
        h4 The Meca for Wildlife observation        
        p One of the only places on earth with abundant wildlife populations

        h3 You've never seen life like this
        
      .span4
        h2 Community
        h4 Osa Peninsula is cool & calm
        p Isolated from crazy development tourism frenzy, we stayed a true community
        h3 We live among authentic farmers


      .span4
        h2 Experience
        h4 People change when they visit Corcovado
        p A powerful place that will reach inside and explain the secrets of nature
        h3 Don't believe us, then visit :)
        

br
br
.hostel
  .container
    .row-fluid   
    .hostel 
    h1 Hostel Corcovado
    h3 The Rainforest Hostel 4KM east from Los Patos entrance to Corcovado National Park.
    h6 Its perfect for Corcovado National Park 1 , 2 , 3 Day Hikes, but there is so much more than that in Osa Peninsula
    br
    .row-fluid
      .span3.modable
        img(src="http://placehold.it/640x420").thumbnail        
        h4.caption Deluxe Cabin (fits 4)
        p Large Suite with A/C , Hot Water , Private Bathroom, Private Kitchenet 
      
      .span3.modable
        img(src="/images/private.jpg").thumbnail
        h4.caption Private Room
        p Large Room, walk-in closet, fans and external private bathroom

      .span3.modable
        img(src="/images/gemelas.jpg").thumbnail
        h4.caption Private Cabins
        p 2 Small Confy Private Rooms side by side with Fan and Closet

      .span3.modable
        img(src="/images/shared.jpg").thumbnail
        h4.caption Shared Rooms
        p 6 person large ventilated rooms, Bunk-beds with private light & fan

    br
    .row-fluid
      .span3.modable
        img(src="/images/kitchen.jpg").thumbnail
        h4.caption Full Kitchen
        p We've got an industrial size kitchen with plenty of good quality utencils

      .span3.modable
        img(src="/images/dinning.jpg").thumbnail
        h4.caption Dinning Hall
        p Embed in a secondary forest, is a great place to relax, eat and read

      .span3.modable
        img(src="/images/bridges.jpg").thumbnail
        h4.caption Bridges
        p Every building is connected with elevated bridges, "Ewok" style :)

      .span3.modable
        img(src="http://placehold.it/640x420").thumbnail
        h4.caption Bathrooms
        p Large Clean Large Wood and Cement Bathrooms painted with happy animals
  br
  


.alert.alert-warning
  .container
    .row-fluid
    h2.span Make a Reservation Today
    .btn.pull-right.btn-large.btn-warning Reservations

br
br
.container
  .row-fluid
    .wildlife.span6
      h1 Meet the other Guests
      h4 Millions of species of mammals, trees, birds, insects and reptiles
      br
      .row-fluid
        .span3
            .imgWrapper.modable.thumbnail
              img(src="/images/perezoso.jpg")
            .caption Monkeys and Perecezos

        .span3
            .imgWrapper.modable.thumbnail
              img(src="/images/tamandua.jpg")
            .caption Big and Strong Cats
   
        .span3
            .imgWrapper.modable.thumbnail
              img(src="/images/lapas.jpg")
            .caption Big and Small Birds 

        .span3
            .imgWrapper.modable.thumbnail
              img(src="/images/trees.jpg")
            .caption Trees, Plants and Flowers

      .row-fluid
        .span3
            .imgWrapper.modable.thumbnail
              img(src="/images/arana.jpg")
            .caption Monkeys and Perecezos

        .span3
            .imgWrapper.modable.thumbnail
              img(src="/images/cariblanco.jpg")
            .caption Big and Strong Cats

        .span3
            .imgWrapper.modable.thumbnail
              img(src="/images/titi.jpg")
            .caption Big and Small Birds 

        .span3
            .imgWrapper.modable.thumbnail
              img(src="/images/congo.jpg")
            .caption Trees, Plants and Flowers


      .row-fluid
        .span3
            .imgWrapper.modable.thumbnail
              img(src="/images/pizote.jpg")
            .caption Monkeys and Perecezos


      span.label.label-success All fotos are ours taken with our Canon SLR and 300MM lense
      br
    
    .activities.span6
      h1 Things to do
      h4 We'll help you arrange any tour or activity free of charge to you
      br
      table.table.table-striped.table-bordered.table-condensed
        thead
          th Rating
          th Tour
          th Price
        
        tr
          td
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          td 
            h4 Corcovado National Park
          td 
            span.label.label-warning $150
            span.details p/day
  
        tr
          td
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>

          td 
            h4 Guaymi Indigenous Reserve Tour
          td 
            span.label.label-warning $65
            span.details p/p

        tr
          td
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>

          td 
            h4 Farming Tour
          td 
            span.label.label-warning $49 
            span.details p/p

        tr
          td
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>

          td 
            h4 Shuttle from San Jose
          td 
            span.label.label-warning $49 
            span.details p/p


        tr
          td
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>

          td 
            h4 Sweet Gulf Sea Kayaking
          td 
            span.label.label-warning $25
            span.details p/p

        tr
          td
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          td 
            h4 Rincon River & Mud Bath's
          td 
            span.label.label-warning Free
        tr
          td
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          td 
            h4 Surfing, Beach & Tanning
          td 
            span.label.label-warning Free

        tr
          td
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>
          td 
            h4 Soccer @ 5PM
          td 
            span.label.label-warning Free

          tr
            td
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
            td 
              h4 Freestyle Hicking
            td 
              span.label.label-warning Free

        tr
          td
            <i class="icon-star"></i>
            <i class="icon-star"></i>
            <i class="icon-star"></i>

          td 
            h4 Reforestation & Tree Nursing
          td 
            span.label.label-warning $25
            span.details p/p
    


      .label * Tours under $50 do not include transportation



br
br
.alert.alert-info
  .container
    .row-fluid
      .span4
        h2 Free Planning
        h4 When you make a reservation, we'll help you arrange transportation, tours, activities and answer any questions you got

      .span4
        .btn.btn-large.btn-info Get in Touch    
        
      .span4
        h2 Group Prices
        h4 Bring your friends and family, we'll give you up to 50% discount


    